@media all and (min-width: 250px) and (max-width: 600px) {
    .about-section {
        display: flex;
        flex-direction: column;
    }

    .profile {
        width: 300px;
        height: 300px;
        margin-top: 40px;
        margin-left: 220px;
    }

    .about-heading {
        font-size: 40px;
        text-decoration: underline;
        margin-left: 45px;
        text-align: center;
    }

    .info p {
        width: 360px;
        margin-left: 80px;
        text-align: justify;
    }

    .download-btn-link {
        margin-left: 80px;
    }

    .stack {
        margin-left: 45px;
    }
}