.heading {
    font-family: 'Poltawski Nowy', serif;
    margin-bottom: -7px;
}

.banner {
    height: 650px;
    width: 100%;
    z-index: 0;
    position: relative;
}

.container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 25px;
    align-items: center;
    padding: 5px 8px 5px 8px;
    margin: 0px 5px 0px 5px;
    font-weight: 600;
}

.nav-link:hover {
    padding: 5px 8px 5px 8px;
    text-decoration: underline;
    text-decoration-color: rgb(0, 208, 255);
}

.heading-title {
    position: absolute;
    top: 5%;
    width: 100%;
    color: white;
    font-size: 60px;
    text-align: center;
}

.welcoming-msg {
    position: absolute;
    top: 20%;
    left: 340px;
    width: 850px;
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}