@media all and (min-width: 200px) and (max-width: 600px) {
    .education {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin: 0px;
    }

    .premier {
        font-size: 15px;
        margin: 10px 0px 25px 5px;
        padding: 10px 0px 10px 0px;
    }

    .certificates {
        font-size: 13px;
        width: 300px;
    }
}